
@{
    ViewData["Title"] = "DependencyInjection";

    var moonLandingDate = new DateTime(1969, 7, 20);
}

<h2>Dependency Injection example</h2>

<home-link></home-link>

<time-since compare-date-time="@moonLandingDate"></time-since>

