@model object

@{
    ViewBag.Title = "home";
}

<h2>Home</h2>

<div>
    My-customer:
    <my-customer></my-customer>
</div>

<div>
    Auto-price:
    <auto-price make="chevy" model-name="camero"></auto-price>
</div>

<div>
    Slow-to-process:
    <slow-to-process></slow-to-process>
</div>