@model LoginVM

@{
    ViewData["Title"] = "ViewContext";
}

<h2>ViewContext example</h2>

<home-link />

<view-context-example></view-context-example>

<p>[Note: ModelState forced as we aren't posting anything for this demo]</p>